# Local configuration
.boost_location
# Built files
out
# Emacs temporaries
\#*\#
.\#*
# Various backups
*.bak
*~
# Test configuration
.config
.config.cache
# Helpers
update-student-stats.sh
generate-stats
ivantsova.ekaterina/P0/main.dSYM/Contents/Info.plist
ivantsova.ekaterina/P0/main
ivantsova.ekaterina/P0/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
.gitignore
ivantsova.ekaterina/P0/main.dSYM/Contents/Resources/DWARF/main
.gitignore
.gitignore
